@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    background-color: rgb(255, 239, 204);
    color: black;
    font-family: "Montserrat", serif;
    font-weight: 400;
}

h2 {
    text-align: center;
    margin: 20px 0 10px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1500px;
    margin-top: 7%;
}

table {
    flex: 1 1 calc(50% - 20px); /* Два элемента в строке */
    max-width: calc(50% - 20px);
    background-color: green;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    border-color: black;
    border-width: 20px;
    border-radius: 9px;
    overflow: hidden;
}

table.full-width {
    flex: 1 1 100%;
    max-width: 100%;
}

td,
th {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

#inforow {
    background-color: rgb(166, 166, 166);
    font-weight: bold;
}

.nonerow {
    background-color: black;
    color: white;
}

tr.highlight {
    background-color: blue !important;
}

.asyncrow {
    background-color: rgb(255, 0, 0);
}

img {
    max-width: 100%;
}

@media (max-width: 768px) {
    table {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

#clock {
    position: fixed;
    color: black;
    font-weight: bold;
    padding: 1% 35%;
}

.rectangle {
    position: fixed;
    height: 6%;
    width: 2000px;
    background-color: rgb(255, 239, 204);
    border-bottom: 2px solid black;
}

#roblox {
    top: 0%;
    position: absolute;
    width: 100.5%;
    text-align: center;
    border: 1px solid black;
    z-index: 100000;
}

.switch {
    position: fixed;
    display: inline-block;
    width: 3rem;
    height: 1.3rem;
    z-index: 1000000;
}

.switch input {
    opacity: 1;
    width: 0;
    height: 0;
}

.move {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    border-radius: 3.5rem;
    border: 0.1rem solid #ddd;
    transition: 0.3s;
}

.move::before {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 1.5rem;
    top: 0;
    bottom: 0;
    left: 0.12rem;
    box-shadow: 0 0.1rem 0.1rem grey;
    background: white;
    transition: 0.4s;
}

input:checked + .move {
    background: blue;
    border: 0.1rem solid transparent;
}

input:checked + .move::before {
    transform: translateX(1.65rem);
}

#sw {
    position: fixed;
    padding: 3% 73%;
    z-index: 999999999;
}

.schedule {
    border-color: black;
}

#urok {
    position: fixed;
    padding: 3% 11%;
    z-index: 999999;
}
