@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 20px;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Montserrat", serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    margin: 0 0 10px 0;
}

.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 7%;
}

.container a {
    font-weight: 590;
    color: rgba(0, 4, 249, 0.774);
}

.lesson6 {
    font-weight: 590;
    color: rgba(0, 4, 249, 0.774);
    cursor: pointer;

}

.container a:hover {
    text-decoration: underline;
}

#girls {
    color: deeppink; !important;
}

table {
    opacity: 90%;
    max-width: max-content;
    table-layout: fixed;
    background-color: green;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    border-color: black;
    border-width: 20px;
    border-radius: 9px;
    overflow: hidden;
}

td,
th {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

td {
    white-space: nowrap;
}

.infoRow {
    background-color: rgb(166, 166, 166);
    font-weight: bold;
}

.noneRow {
    background-color: black;
    color: white;
}

tr.highlight {
    background-color: rgb(109, 216, 252) !important;
}

.asyncRow {
    background-color: rgb(255, 0, 0);
}

.asyncRow a {
    font-weight: 400;
    color: black;
}

.dontKnownRow {
    background-color: rgb(255, 208, 0);
}

#clock {
    position: fixed;
    color: black;
    font-weight: bold;
    text-align: center;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: min-content;
    cursor: pointer;
}

.rectangle {
    position: fixed;
    height: 6%;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
    border-bottom: 2px solid black;
}

#roblox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 100000;
    padding: 0;
    margin: 0;
    border-top: none;
}

#howto {
    position: fixed;
    top: 1%;
    right: 8%;
    z-index: 999999999;
}

#howto-btn {
    font-family: "Montserrat", serif;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.108);
    border: none;
    border-radius: 1.2rem;
    width: 90px;
    height: 35px;
    right: 10%;
    cursor: pointer;
}

#howto-btn:hover {
    background: rgba(255, 255, 255, 0.308);
}

#howto-btn:active {
    background: rgba(255, 255, 255, 0.621);
}

.schedule {
    min-width: 100%;
    border-color: black;
}

#lesson {
    position: fixed;
    top: 1%;
    left: 5%;
    z-index: 999999;
}

#lessonName {
    position: fixed;
    left: 5%;
    top: 2.8%;
    z-index: 999999;
    font-weight: bold;
    font-size: 15px;
}

.popup {
    display: none; /* скрыт по умолчанию */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1); /* прозрачный фон */
    backdrop-filter: blur(60px);
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#popup p {
    margin: 10px 0;
}

#popup a {
    text-decoration: none;
    font-weight: bold;
}

#popup button {
    background: rgba(255, 255, 255, 0.2); /* прозрачный фон */
    backdrop-filter: blur(60px);
    border: 1px solid black;
    border-radius: 6px;
    font-weight: bolder;
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
