@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 20px;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Montserrat", serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    margin: 0 0 10px 0;
}

.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 7%;
}

.container a {
    font-weight: 590;
    color: rgba(0, 4, 249, 0.774);
}

.container a:hover {
    text-decoration: underline;
}

table {
    opacity: 90%;
    max-width: max-content;
    background-color: green;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    border-color: black;
    border-width: 20px;
    border-radius: 9px;
    overflow: hidden;
}

td,
th {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

#inforow {
    background-color: rgb(166, 166, 166);
    font-weight: bold;
}

.nonerow {
    background-color: black;
    color: white;
}

tr.highlight {
    background-color: rgb(109, 216, 252) !important;
}

.asyncrow {
    background-color: rgb(255, 0, 0);
}

tr.smena {
    background-color: red; 
}

tr a.smena{
    font-weight: 400;
    color: black;
}

#hzrow {
    background-color: rgb(255, 208, 0);
}

img {
    max-width: 100%;
}

#clock {
    position: fixed;
    color: black;
    font-weight: bold;
    text-align: center;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: min-content;
    cursor: pointer;
}

.rectangle {
    position: fixed;
    height: 6%;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
    border-bottom: 2px solid black;
}

#roblox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 100000;
    padding: 0;
    margin: 0;
    border-top: none;
}

#howto {
    position: fixed;
    top: 0.8%;
    right: 9%;
    z-index: 999999999;
}

#howto-btn {
    font-family: "Montserrat", serif;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.108);
    border: none;
    border-radius: 1rem;
    width: 30px;
    height: 30px;
    right: 10%;
    cursor: pointer;
}

#howto-btn:hover {
    background: rgba(255, 255, 255, 0.308);
}

#howto-btn:active {
    background: rgba(255, 255, 255, 0.621);
}

.schedule {
    min-width: 100%;
    border-color: black;
}

#urok {
    position: fixed;
    top: 0.7%;
    left: 5%;
    z-index: 999999;
}

#urokname {
    position: fixed;
    left: 5%;
    top: 2.5%;
    z-index: 999999;
    font-weight: bold;
    font-size: 15px;
}

#ponedelnik::after {
    content: '';
    position: absolute;
    width: 89%;
    height: 40.7%;
    background-color: transparent;
    z-index: -1;
    top: 38%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 5px;
}

.rec {
    background: transparent;
    backdrop-filter: blur(60px);
    border-radius: 20px;
    width: 90vw;
    height: 90vh;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

li {
    margin-left: 0;
    padding-left: 0;
}

.text {
    position: absolute;
    top: 11%;
    left: 7.1%;
    right: 7.1%;
    max-width: 8vw;
    text-align: center;
}

#bd {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.gif {
    position: absolute;
    bottom: 15vh;
    right: 34vw;
    left: 34vw;
}

.butback {
    position: absolute;
    font-family: "Montserrat", serif;
    background: rgba(255, 255, 255, 0.108);
    border: none;
    border-radius: 1rem;
    width: 40px;
    height: 34px;
    left: 7%;
    top: 5%;
    z-index: 10;
    cursor: pointer;
}